
:root{
--navbar:#02060e;
--hover:#e6e6e6;
}
body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

.nav-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:var(--navbar) ;
  padding: 0 100px;
}

.nav-container h1{
  color: white;
  text-transform: uppercase;
}
nav{
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
nav a:hover{
  color:var(--hover) ;
}

.maincont{
  max-width: 1200px;
  margin: 20px auto 20px auto;
  display: flex;
  
}
.left{
  padding: 20px;
}
.right{}

.calculator{
  width:  700px;
  background-color: #D1D1D1;
}


.display{
  background-color: #858694;
  height: 100px;
  font-weight: bold;
  color: white;
  font-size: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.button{
  height: 100px;
  width: 25%;
  border: 2px solid #D1D1D1;
  color: black; 
  font-size: 30px;
  background-color: #E0E0E0;
}

.groups {
 display: flex;
}

.wide{
 flex:1;
}
.orange{
  background-color: #F5913E;
}

.main-buttons{
  background-color: #E0E0E0;
}

 

.btn-container{
  display: flex;
  flex-wrap: wrap;
}

